<!-- templates/posts/group_list.html --> 
{% extends 'base.html' %}
{% block title %}
  Записи сообщества {{ title }}
{% endblock title %}
{% block content %}
<div class="container">
  <h1>{{ group.title }}</h1>
  <p>
    {{ group.description }}
  </p>
  {% for post in page_obj %}
  <article>
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>      
    <p>
      {{ post.text }}
    </p>         
  </article>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'C:\Dev\hw02_community\yatube\templates\includes\paginator.html' %}
{% endblock %}

